body {

    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #ffccff, #ccffff); */
    background: linear-gradient(-45deg, #9aebff, #b5d2ef, #7ae9f5, #5920dc);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Gradient animasiya */
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.container {
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content{
    font-size: 35px;
}

h1 {
    color: #ff3399;
    animation: pop 1s ease-in-out;
}

.message {
    font-size: 28px;
    color: #333;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #66ccff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #3399ff;
}

#surpriseContent {
    margin-top: 20px;
}

#surpriseContent img {
    width: 200px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.message-slide {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
    min-height: 40px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .message-slide {
        font-size: 16px;
    }

    button {
        width: 100%;
        font-size: 14px;
    }
}

h1, .message, .message-slide {
  font-family: 'Pacifico', cursive;
}

